/***********************
    GENERAL PAGE RULES
************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: Arial, Helvetica, sans-serif;
}
/***********************
    MAIN PAGE RULES
************************/
#wrapper{
    background-color: lightgray;
    width: 100%;
    height: 100vh;
    position: relative;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
    width: 80%;
}
/***********************
    CONTAINER RULES
************************/
/* IMG-CONTAINER */
.img-container img{
    width: 200px;
    height: 200px;
}
.img-container h1{
    display: block;
    align-self: center;
    font-size: 6rem;
    font-weight: 800;
    color: rgb(22, 6, 61);
}
.img-container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.fill{
    object-fit: cover;
}

/* INPUT-CONTAINER */
.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.input-container input,
button {
    padding: 1rem;
    border-radius: 10px;
    border-color: lightgray;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.input-container input {
    width: 80%;
}
/* ERROR */
.error{
    display: flex;
    justify-content: center;
    color: red;
    margin: 0.5rem 0;
}

/* LISTCONTAINER */
.listContainer{
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 2rem;
}
.listContainer li {
    display: flex; justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
    padding: 1rem 0;
    margin: 0 2rem;
    border-bottom: 1px solid rgb(197, 197, 197);
}